:root {
  --bg-color-light: #eee;
  --bg-color-dark: #333;

  --fg-color-dark: #ccc;
  --fg-color-light: #333;

  --filter-hover: brightness(101%);
  --filter-active: brightness(80%);

  --padding: 15px 25px;
  --margin: 15px;

  --upper-shadow-opacity: 0.075;
  --lower-shadow-opacity: 0.3;
}

.light {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-light);
  padding: var(--padding);
  color: var(--bg-color-dark);
}

.dark {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  background-color: var(--bg-color-dark);
  color: var(--fg-color-dark);
}

.button:hover {
  filter: var(--filter-hover);
}

.button, .raised {
  display: flex;
  margin: var(--margin);
  padding: var(--padding);

  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-light);
  border-radius: 10px;
  box-shadow: -7px -7px 15px 0 rgba(255, 255, 255, 1),
    7px 7px 15px 0 rgba(0, 0, 0, 0.2),
    inset 1px 1px 2px 0 rgba(255, 255, 255, 0.8),
    inset -1px -1px 2px 0 rgba(0, 0, 0, 0.2);
}

.raised {
  justify-content: left;
}


.button:active {
  box-shadow: inset -1px -1px 4px 0 rgba(255, 255, 255, 0.8),
    inset 1px 1px 4px 0 rgba(0, 0, 0, 0.15);
}

.dark .button:active {
   box-shadow: inset -1px -1px 4px 0 rgba(255, 255, 255, var(--upper-shadow-opacity)),
    inset 1px 1px 4px 0 rgba(0, 0, 0, var(--lower-shadow-opacity));
}

.dark .button, .dark .raised {
  /* font-weight: bold; */
  /* text-shadow:2px 2px 7px rgba(255,255,255, var(--lower-shadow-opacity)); */

  background-color: var(--bg-color-dark);
  box-shadow: -7px -7px 15px 0 rgba(255, 255, 255, var(--upper-shadow-opacity)),
    7px 7px 15px 0 rgba(0, 0, 0, var(--lower-shadow-opacity)),
    inset 1px 1px 4px 0px rgba(255, 255, 255, calc(var(--upper-shadow-opacity)*1.5)),
    inset -1px -1px 4px 0px rgba(0, 0, 0, calc(var(--lower-shadow-opacity)*1.5));
} 

.button .text {
  flex: 1;
  text-align: center;
}

